* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    max-width: 100vw;
    height: 100%;
    box-sizing: border-box;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    font-family: "Montserrat";
  }
  /* Title  */
  .title-container {
    width: 100%;
    padding-top: 10px;
    background-color: #1d1f37;
    color: #fff;
    text-align: left;
  }
  h3 {
    font-family: "Montserrat";
  }
  #campusdetails {
    font-family: "Montserrat-light";
  }
  #campusaddress {
    font-family: "Montserrat-light";
  }
  .header {
    padding: 1%;
  }
  .title-logo {
    width: 15vw;
  }
  /* Navbar */
  .nav-item {
    padding: 0 35px;
  }

  .nav-item a {
    text-decoration: none;
    font-family: "Montserrat";
    color: #000;
  }
  .nav-link {
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
  }
  .dropdown-menu li {
    position: relative;
  }
  .dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }
  .dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
  }
  .dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
  }
/* Content */
.content-head{
    padding: 2%;
}
.content-head a{
    text-decoration: none;
    
}
.content-head a:hover{
    text-decoration: underline;
}
.content-message{
    padding:1%;
    font-weight: normal; 
    font-size: 110%;
    font-family: "Montserrat-light";
}
/* Sidebar */
.content-sidebar{
  border-right: 2px solid #000;
}
@media screen and (max-width:950px){
  .content-sidebar{
      border-right:none;
  }
}
.content-sidebar button{
  border: none;
  background-color: #fff;
  text-align: left;
  color: black;
  font-weight: bold;
  padding: 1%;
}
#main-btn{
  background-color: #004466;
}
#main-btn:hover{
  background-color:#000;
  color:#fff;
}
#main-btn-link{
  text-decoration: none;
  color: #fff;
}
.content-sidebar a{
  text-decoration: none;
  color: #000;
}
.content-sidebar ul{
  list-style: none;
}
.content-sidebar button a:hover{
  color: #fff;
}
.content-sidebar button:hover{
  background-color:black;
  color: #fff;
  text-align: left;
}
.course-details h5{
    font-weight: bold;
    font-size: larger;
    font-family: "Montserrat";
}
.course-details h6{
  font-weight: bold;
  font-size: medium;
  font-family: "Montserrat-light";
}
.course-details .para-info{
  padding-left: 5%;
}
.course-details{
  padding: 1% 3%;
}
.course-details h5{
  font-weight: bold;
  font-size: medium;
  font-family: "Montserrat";
}
  /*Footer*/
#footer-content{
    background-color: #1d1f37;
    color: #fff;
    padding: 3%;
    padding-bottom: 0;
    
}
.foot-campusname{
    padding: 3%;
    font-family: "MontSerrat";
}
.foot-campusname h1{
   text-align: left;
   font-size: 180%;
}
.line{
  border-right: 2px solid grey;
}
@media screen and (max-width:950px){
  .line{
      border-right:none;
  }
}
.foot-para-container{
    padding: 4%;
}
#foot-para{
    font-size: 100%; 
    text-align: left; 
    color: grey;
}
.foot-para-container-btn button{
    padding: 5%;
}
.foot-para-container-btn button:hover{
    padding: 4%;
}
.quick-links h6{
    text-align: left;
}
.quick-links .links ul{
    text-align: left;
    font-size: 75%;
    line-height: 2em;
    list-style: circle;
}
.quick-links .links ul li a{
    text-decoration: none;
    color:grey;
    font-size: medium;
}
.quick-links .links ul li a:hover{
    text-decoration: underline;
    color: #fff;
    font-size: medium;
    
}
.foot-contactus{
    text-align: left;
}
.foot-contact-para{
    text-align: left;
    color: gray;
    font-size: medium;
}
.foot-contactus-details{
    text-align: left;
    font-size: 70%;
    padding-left: 5%;
    color: grey;
}
.foot-contactus-details{
    font-size: 75%;
}
.foot-follow-us{
	padding: 1% 5%;
	text-align: center;
}
.foot-follow-us a:hover{
    color: #fff;
}
.social-icon{
	margin: 20px 10px;
}
.license{
    margin: 0;
    padding-top: 2% ;
	  text-align: center;
}
.time-counter{
    text-align: right;
}
